/* ********* */
/* @FOOTER */
/* ********* */

// Colores
.links{
    background-color: $color_footer_scLinks;
}
.logoIdiomas{
    background-color: $color_footer_scLogo;
}
.terminosSocial{
    background-color: $color_footer_scTerminos;
}

// Margenes, espacio
.links{

    &__contenido{
        padding: 1rem;
    }
}
.logoIdiomas{

    &__contenido{
        padding: 1rem;
    }
}
.terminosSocial{

    &__contenido{
        padding: 1rem;
    }
}

.centrar{
    max-width: $anchoMax;
    margin: 0 auto;
}


// Terminos y condiciones
.terminosSocial__contenido{
    display: flex;
    justify-content: space-between;
}


// Políticas
.politicas{
    column-count: 3;
    column-rule: 2px solid #a01919;

    > *{
        display: block;
    }
}


// Redes Sociales


a {
    text-decoration: none;
    color: #7075a2;
        svg{
            width: 32px;
            height: 32px;
        }
    }

.IconoRaro{
    display: flex;
    align-items: center;
    
}

.listas {
padding-top: 50px;
display: flex;
justify-content: space-between;
    color:rgb(80, 80, 220);
    li{
        list-style: none;
    }
}

.wrapper {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 20px 20px;
  }